<section class="s-content s-content--narrow s-content--no-padding-bottom">
  <article class="row format-standard">
    <div class="face">
      <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
      </div>
      <div class="eyes"></div>
      <div class="dimples"></div>
      <div class="mouth"></div>
    </div>

    <h2>Oops! Something went wrong!</h2>
    <div class="center">
      <button routerLink="/" class="btn btn-primary"> Return to Home</button>
    </div>


  </article>
</section>
