<section class="s-content s-content--narrow">

  <div class="row">

    <div class="s-content__header col-full">
      <h1 class="s-content__header-title">
        Contact Us.
      </h1>
    </div> <!-- end s-content__header -->


    <div class="col-full s-content__main">

      <div class="respond">

        <form name="contactForm" id="contactForm" method="post" action="">
          <fieldset>

            <div class="form-field">
              <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
            </div>

            <div class="form-field">
              <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
            </div>

            <div class="form-field">
              <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website" value="">
            </div>

            <div class="message form-field">
              <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
            </div>

            <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

          </fieldset>
        </form> <!-- end form -->

      </div> <!-- end respond -->


    </div> <!-- end s-content__main -->

  </div> <!-- end row -->

</section> <!-- s-content -->
