<form [formGroup]="postForm" (ngSubmit)="submit()">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Post Metadata</h6>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title"/>
      </div>

      <div class="form-group has-error">
        <label for="slug">Slug<small>(This field use in url path.)</small></label>
        <input type="text" class="form-control" id="slug" formControlName="slug"/>
      </div>
      <div class="form-group">
        <label for="tags">Choose tags : </label>
        <tag-input formControlName="tags" secondaryPlaceholder="Click to choose Tags" placeholder="" id="tags"
                   [animationDuration]="{enter:'0ms' , leave:'0ms'}"
                   [onlyFromAutocomplete]="true"  displayBy="label" identifyBy="id">
          <tag-input-dropdown [showDropdownIfEmpty]="true"
                              [autocompleteItems]="tags" displayBy="label" identifyBy="id">
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Post body</h6>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="5" id="description" class="form-control" formControlName="description"></textarea>
      </div>

      <div class="form-group">
        <app-photo-base64-upload [isImageSaved]="cover" [parentForm]="postForm"></app-photo-base64-upload>
      </div>

      <div class="form-group">
        <label for="description">Content</label>
        <quill-editor (onContentChanged)="quillChange($event)" formControlName="html"></quill-editor>
        <!--    <textarea rows="6" id="content" class="form-control" formControlName="html"></textarea>-->
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">
      UPDATE
    </button>
  </div>
</form>
